<div class="container">
  <div class="grid-container" id="header-container">
    	Want to be a member?
    	<li><%= link_to 'Become A Member', signup_path %></li>
    </div>
    <div>
    	Already a member?
    	<li><%= link_to 'Sign In', root_path %></li>
  </div>
</div
